//footer
footer {
  content: " ";
  display: block;
  padding-left: 30px;
  padding-top: 50px;
  text-align: center;
  height: 100px;
  /* background-image: url(../img/seaweed.svg);*/
  //grid-column: 1/10;
  //grid-row: 6/7;
  z-index: 1;

  @media (min-width: 600px) {
    //grid-row: 7/7;
  }
}

footer>a {
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  
}



/*a.zen-validate-html,
a.zen-validate-css,
a.zen-license,
a.zen-github,
a.zen-accessibility */


footer a:hover, footer a:active{
  background-color: $color6;
  color: $color5;
  border: 2px solid $color5;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer a:link, footer a:visited{
  background-color: $color5;
  color: $color6;
}