//footer
footer {
  content: " ";
  display: block;
  padding-left: 30px;
  padding-top: 50px;
  border-top: 50px solid $color6;
  text-align: center;
  height: 200px;
  background-image: url(../img/seaweed.svg);
  grid-column: 1/10;
  grid-row: 6/7;
  z-index:1;
  
  @media (min-width: 600px) {
    grid-row: 7/7;
  }
}

footer > a {
  padding-top: 10px;
  text-decoration: none;
}
