//footer
footer {
  content: " ";
  display: block;
  padding-left: 30px;
  padding-top: 50px;
  text-align: center;
  height: 100px;
  /* background-image: url(../img/seaweed.svg);*/
  grid-column: 1/10;
  grid-row: 6/7;
  z-index: 1;

  @media (min-width: 600px) {
    grid-row: 7/7;
  }
}

footer>a {
  padding-top: 10px;
  text-decoration: none;
  border-radius: 50%;
}



.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {

  background: $color5 url(../img/icon-back.svg);
}
