//intro
.intro {
    background: url("./img/sun.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-attachment: fixed;
    font: $secondary-font;
    height: 700px;
    margin: 0;
    padding: 0;
}

.intro h1 {
    font-family: $secondary-font;
    font-size: 6em;
    text-align: center; 
}
.intro h2 {
    font-family: $primary-font;
    font-size: 2em;
    text-align: right;
    padding: 30px;
}
.summary {
    grid-column: 2 / 3;
}
.preamble {
    font-family: $primary-font;
}
.intro h2, .summary, .preamble {
    padding: 20px;
}