//intro
.intro {
    background-image: url("./img/sun.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
    font: $secondary-font;
    height: 700px;
}

.intro h1 {
    font-family: $secondary-font;
    font-size: 6em;
    text-align: center; 
}
.intro h2 {
    font-family: $primary-font;
    font-size: 2em;
    text-align: right;
    padding: 30px;
}
.summary {
    grid-column: 2 / 3;
}