//main

.main{
    display:flex;
    flex-direction: column;
    max-width:100vw;
}

.explanation, .participation, .benefits, .requirements {
    padding:20px;
}

.main p {
    color: $color5; 
    font-family: $secondary-font;
    margin: 0 1em 0 1em;
}

.main h3{
    color: $color4; 
    font-family: $primary-font;
    margin-left:0em;
}

.main a {
    color: $color3;
}

.explanation p, .participation p, .benifits p, .requirements p  {
    font-family: $secondary-font;
}


@media only screen and (min-width: 1500px) {
    .main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 3fr 1fr;
    }

    .explanation {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }
    
    .participation {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
    }
    
    .benefits {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .requirements {
        grid-column: 2 / span 3;
        grid-row: 3 / span 1;
    }
    
}