//main
.main{
    border:solid;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


.main p {
    color: white;
    
}

.explanation {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding:20px;
}

.participation {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    padding:20px;
}

.benefits {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    border-radius: 0 100% 0 0;
   
    border:solid;
    background-color: black;
    padding:20px;
}

.benefits h3{
    //border:solid;
    border-radius: 0 100% 100% 0 / 50%;
    width: 80px;
    height: 40px;
    margin-top: 250px;
    background-color: RGBA(242,173,98, .25);
    position:relative;
    bottom:0;
    right:0;
    animation: 5s move infinite alternate;
    //animation: 1.5s push ease 5s alternate infinite;
}

.requirements {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    padding: 20px;
}

footer {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    padding: 20px;
}

@keyframes move { to {
    //border-radius: 50%;
    //bottom: 100px;
}
0% {
    left: 0;
    top: 0;
}
50% {
    left: 200px;
    top: 100px;
}

100% {
    left:600px;
    top:-250px;
    
}
}

@keyframes push {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 100px;
        top: 100px;
    }
    100% {
        top:50px;
        left:50px;
    }
    
}