//main
.main{
    //border:solid;
    max-height: 75em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 20em 20em 10em 30em;
    grid-template-rows: 2fr 2fr 1fr 3fr;
}



.explanation {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding:20px;
}

.participation {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding:20px;
}

.benefits {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    padding:20px;
}

.requirements {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    padding: 20px;
}

.main p {
    color: $color5; 
    font-family: $secondary-font;
    margin: 0 5em 0 5em;
}

.main h3{
    color: $color4; 
    font-family: $primary-font;
    margin-left:4em;
}

.main a {
    color: $color3;
}

/*.explanation p {
    margin: auto;
    font-family: $secondary-font;
}

.participation p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.requirements p {
    font-family: $secondary-font;
}*/

/*.participation::before {
    content: url("./img/goldfish.svg");
    position:fixed;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    bottom:0;
    right:0;
    animation: 5s fish1 infinite alternate;
}

.benefits::before {
    content: url("./img/goldfish.svg");
    position:fixed;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    bottom:0;
    right:0;
    animation: 5s fish2 infinite alternate;
}

.requirements::before {
    content: url("./img/bubble.svg");
    position:fixed;
    bottom:0;
    right:0;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    animation: 15s bubble1 infinite alternate;
}

@keyframes fish1 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: -500px;
        top: 100px;
    }
    100% {
        left:200px;
        top:-50px;
    }
    
}

@keyframes fish2 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 200px;
        top: 100px;
    }
    100% {
        left:800px;
        top:-100px;
    }
    
}

@keyframes bubble1 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 50px;
        top: -100px;
    }
    100% {
        left:-50px;
        top:-2000px;
    }
    
}*/