//main
.main{
    //border:solid;
    //max-height: 75em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 20em 20em 10em 30em;
    grid-template-rows: 2fr 2fr 1fr 3fr;
}



.explanation {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding:20px;
}

.participation {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding:20px;
}

.benefits {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    padding:20px;
}

.requirements {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    padding: 20px;
}

.main p {
    color: $color5; 
    font-family: $secondary-font;
    margin: 0 1em 0 1em;
}

.main h3{
    color: $color4; 
    font-family: $primary-font;
    margin-left:0em;
}

.main a {
    color: $color3;
}

footer {
    display:block;
    //margin-left: 4em;
    padding: 2em;
    //margin: auto;
}

footer h3{
    font-family: $primary-font;
    margin-left: 2em;
    color:$color5;
}

footer a {
    color: $color5;
    text-align: center;
}

.explanation p {
    font-family: $secondary-font;
}

.participation p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.requirements p {
    font-family: $secondary-font;
}

.explanation::before {
    content: url("./img/goldfish.svg");
    position:absolute;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    top:900px;
    //right:0;
    animation: 5s fish1 infinite alternate;
}

.participation::before {
    content: url("./img/goldfish.svg");
    position:absolute;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    top: 1200px;
    //right:0;
    animation: 5s fish2 infinite alternate;
}

.benefits::before {
    content: url("./img/bubble.svg");
    position:absolute;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    bottom:0;
    right:0;
    animation: 10s bubble1 infinite alternate;
}


.requirements::before {
    content: url("./img/bubble.svg");
    position:absolute;
    bottom:0;
    right:0;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    animation: 10s bubble2 infinite alternate;
}

@keyframes fish1 {
    0% {
        left: 0;
        top: 800px;
    }
    50% {
        left: 500px;
        top: 1100px;
    }
    100% {
        left:800px;
        top:1000px;
    }
    
}

@keyframes fish2 {
    0% {
        left: 0;
        top: 1200;
    }
    50% {
        left: 200px;
        top: 1300px;
    }
    100% {
        left:800px;
        top: 1400px;
    }
    
}

@keyframes bubble1 {
    0% {
        left: 0;
        top: 1500px;
    }
    50% {
        left: 50px;
        top: 900px;
    }
    100% {
        left:-50px;
        top:1500px;
    }
    
}

@keyframes bubble2 {
    0% {
        left: 100px;
        top: 1600px;
    }
    50% {
        left: 150px;
        top: 800px;
    }
    100% {
        left:250px;
        top: 1600px;
    }
    
}