//sidebar-navigation
// .sidebar{
//     border:solid;

//       }
<<<<<<< HEAD
// .sidebar {
//   height: 100%;
//   /*position: fixed;*/
//   overflow: auto;
//  }
=======
.wrapper {
  height: 100%;
  /*position: fixed;*/
  //overflow: auto;
  /*margin-left: 79%;*/
  //background-color: $color4;
  background-image: url("./img/coral.png");
  background-image: no-repeat;
}
>>>>>>> 298e2fbc0312705512e717a8d70ce3b43525dfbe

ul {
  list-style-type: none;

}

.design-name {
  text-decoration: underline;
}

.designer-name {
  text-decoration: underline;

}

.design-name:hover {
  background-color: $color5;
  color: $color1;
}

.designer-name:hover {
  background-color: $color5;
  color: $color1;
}


@media only screen and (min-width: 600px) {
 .sidebar{
  background-image: url("./img/boulder.jpg");
  
 }

  .wrapper {
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 220px 150px 200px;
      min-height: 1000px;
      position: fixed;
  height: 100%;
overflow: auto;
      
    }
  .design-selection{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
  }
  .design-archives{
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
  }
  .zen-resources{
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
  }
  
}