//sidebar-navigation
.sidebar{
    border:solid;
    
      }
   .navigation{
    position:absolute;
   
   }
ul {
    list-style-type: none;
          }
  
  .design-name {
    color:$color5;
    text-decoration: none;
  }
  .designer-name{
    text-decoration: underline;
    
  }
  li{
    display: block;
  }
  .design-name:hover {
    background-color: #555;
    color: white;
  }
  .designer-name:hover {
    background-color: #555;
    color: white;
  }
  
  ul {
    border: 1px solid #555;
  }
  
