//variables

//colors
$color1: #8d8741;
$color2: #659dbd;
$color3: #daad86;
$color4: #bc986a;
$color5: #fbeec1;
$color6: #003247;

$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Seaweed Script', cursive;
