//styles for zen garden project
@import "./partials/variables";
@import "./partials/intro";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/sidebar";
@import "./partials/extras";
@import "./partials/reset";
@import "./partials/animations";

#css-zen-garden {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

.page-wrapper {
  //max-height: 200em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: auto;
  max-width: 100vw;
  //display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: 50em 140em 30em;
  //grid-template-rows: 1fr 3fr 1fr;
  background-image: linear-gradient($color2, darkblue);
}

.intro {
  //grid-column: 1 / span 1;
  //grid-row: 1 / span 1;
  //max-height: fit-content;
  max-width: 100vw;
  min-width: 100vw;
  //overflow:hidden;
  position: relative;
  background-size: cover;
}

.main {
  //grid-column: 1 / span 1;
  //grid-row: 2 / span 1;
  //max-height: fit-content;
  max-width: 100vw;
  //overflow:hidden;
  position: relative;
}

.sidebar {
  position: relative;
  margin-left: 5em;
  margin-top: 1em;
  z-index: 2;
}

.extra1, .extra2, .extra3{
  bottom:0;
  display:none;
}

@media only screen and (min-width: 900px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    grid-template-rows: 2fr 3fr;
  }

  .intro {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    //background-attachment: fixed;
    background-size: cover;
  }

  .main {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .sidebar {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    //border: solid $color1;
    //border-radius: 15px;
    //border-style: ridge;
    padding: 0px;
    background-image: url("./img/cliff.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    //z-index:1;
  }

  .extra1 {
    grid-column: 1 / span 3;
    grid-row: 3;
    overflow: hidden;
  }

  .extra2 {
    grid-column: 2 / span 1;
    grid-row: 3;
    overflow: hidden;
  }

  .extra3 {
    grid-column: 3 / span 1;
    grid-row: 3;
    overflow: hidden;
  }

  .preamble {
    width: 65%;
    position: absolute;
    right: 20px;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 1000px) {

  .page-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 2fr 3fr;
  }
}

@media only screen and (min-width: 1400px) {

  .page-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 3fr;
  }

  .extra1, .extra2, .extra3{
    display:initial;
  }

  .extra1, .extra3 {
    bottom:-81rem;
  }

  .extra2 {
    bottom:-35rem;
    left:55rem;
    z-index:0;
  }
}
