.intro {
  background-image: url("./img/sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font: "Seaweed Script", cursive;
  height: 600px;
}

.intro h1 {
  font-family: "Seaweed Script", cursive;
  font-size: 6em;
  text-align: center;
}

.intro h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  text-align: right;
  padding: 30px;
}

.summary {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.main {
  max-height: 80em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2fr 2fr 1fr 3fr;
      grid-template-rows: 2fr 2fr 1fr 3fr;
}

.explanation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding: 20px;
}

.participation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  padding: 20px;
}

.benefits {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  padding: 20px;
}

.requirements {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  padding: 20px;
}

.main p {
  color: #fbeec1;
  font-family: "Seaweed Script", cursive;
  margin: 0 5em 0 5em;
}

.main h3 {
  color: #bc986a;
  font-family: "Open Sans", sans-serif;
  margin-left: 4em;
}

.main a {
  color: #daad86;
}

/*.explanation p {
    margin: auto;
    font-family: $secondary-font;
}

.participation p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.benifits p {
    font-family: $secondary-font;
}

.requirements p {
    font-family: $secondary-font;
}*/
/*.participation::before {
    content: url("./img/goldfish.svg");
    position:fixed;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    bottom:0;
    right:0;
    animation: 5s fish1 infinite alternate;
}

.benefits::before {
    content: url("./img/goldfish.svg");
    position:fixed;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    bottom:0;
    right:0;
    animation: 5s fish2 infinite alternate;
}

.requirements::before {
    content: url("./img/bubble.svg");
    position:fixed;
    bottom:0;
    right:0;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    animation: 15s bubble1 infinite alternate;
}

@keyframes fish1 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: -500px;
        top: 100px;
    }
    100% {
        left:200px;
        top:-50px;
    }
    
}

@keyframes fish2 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 200px;
        top: 100px;
    }
    100% {
        left:800px;
        top:-100px;
    }
    
}

@keyframes bubble1 {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 50px;
        top: -100px;
    }
    100% {
        left:-50px;
        top:-2000px;
    }
    
}*/
.footer {
  border: solid;
  content: " ";
  display: block;
  padding-top: 10px;
}

.sidebar {
  height: 100%;
  /*position: fixed;*/
  overflow: auto;
  /*margin-left: 79%;*/
  background-color: #bc986a;
}

ul {
  list-style-type: none;
}

.design-name {
  text-decoration: none;
}

.designer-name {
  text-decoration: underline;
}

.design-name:hover {
  background-color: #fbeec1;
  color: #8d8741;
}

.designer-name:hover {
  background-color: #fbeec1;
  color: #8d8741;
}

.extra1 {
  border: solid;
}

.page-wrapper {
  max-height: 200em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.intro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#659dbd), to(darkblue));
  background-image: linear-gradient(#659dbd, darkblue);
}

.sidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

@media only screen and (min-width: 600px) {
  .page-wrapper {
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .sidebar {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    position: fixed;
    margin-left: 79%;
  }
}
/*# sourceMappingURL=style.css.map */