//styles for zen garden project
@import "./partials/variables";
@import "./partials/intro";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/sidebar";
@import "./partials/extras";
@import "./partials/reset";

.css-zen-garden{
    margin: 0;
    padding: 0;
}

.page-wrapper {
    //max-height: 200em;
   
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 50em 140em 30em;
    grid-template-rows: 1fr 3fr 1fr;
    background-image: linear-gradient($color2, darkblue );
}

.intro {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
   overflow: hidden; 
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}


@media only screen and (min-width: 600px) {
    .page-wrapper {
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 2fr 3fr;
    }  
    
    .intro {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        //background-attachment: fixed;
        background-size: cover;
    }
    
    .main {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    
    .sidebar {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        border: solid $color1;
        border-radius: 15px;
        border-style: ridge;
        padding: 5px;
    }

}

@media only screen and (min-width: 950px) {
    .page-wrapper {
        grid-template-rows: 3fr 3fr;
    }  
}

@media only screen and (min-width: 1500px) {
    .page-wrapper {
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: 4fr 3fr;
    }  
}